<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Index Page</title>
  <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 20px;
        }
        h1 {
            color: #333;
        }
        .button {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
        }
    </style>
</head>
<body>
<h1>Welcome to the Thymeleaf Page!</h1>
<p>This is a sample Thymeleaf template and im gonna use it for drag and drop Sunway course scheduler capstone project.</p>
<a href="/dragAndDrop" class="button">Drag and drop</a>
<a href="/login" class="button">Back to login</a>
</body>
</html>
